# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
*/dist
FrontEnd/tmp
FrontEnd/out-tsc
FrontEnd/bazel-out

# Node
*/node_modules
FrontEnd/npm-debug.log
FrontEnd/yarn-error.log

# IDEs and editors
FrontEnd/.idea/
FrontEnd/.project
FrontEnd/.classpath
FrontEnd/.c9/
FrontEnd/*.launch
FrontEnd/.settings/
FrontEnd/*.sublime-workspace

# Visual Studio Code
FrontEnd/.vscode/*
FrontEnd/!.vscode/settings.json
FrontEnd/!.vscode/tasks.json
FrontEnd/!.vscode/launch.json
FrontEnd/!.vscode/extensions.json
FrontEnd/.history/*

# Miscellaneous
FrontEnd/.angular/cache
FrontEnd/.sass-cache/
FrontEnd/connect.lock
FrontEnd/coverage
FrontEnd/libpeerconnection.log
FrontEnd/testem.log
FrontEnd/typings
FrontEnd/__screenshots__/

# System files
FrontEnd/.DS_Store
FrontEnd/.vercel
FrontEnd/Thumbs.db

# BackEndUserProgress
BackEndUserProgress/*.db

.env.local