:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;  /* bloque le scroll */

  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
