:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.audio-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: rgba(0,0,0,0.3);
  padding: 5px 10px;
  border-radius: 8px;
  z-index: 10;
}

.audio-controls button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
